---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="step">
  <h4 class="font-semibold text-white mb-2">{title}</h4>
  <div class="text-slate-400 text-sm [&>p]:my-2 [&>pre]:my-3">
    <slot />
  </div>
</div>
