---
import Layout from "../layouts/Layout.astro";
import { StackBuilder } from "../components/builder/stack-builder";
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
---

<Layout
  title="Stack Builder - AI Stack"
  description="Interactive UI to configure your AI application stack"
>
  <Header activePath="/builder" />
  <div class="pt-16 min-h-screen w-full bg-black flex flex-col">
    <div class="flex-1 overflow-hidden">
      <StackBuilder client:only="react" />
    </div>
    <Footer />
  </div>
</Layout>
